@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #111827;
    font-family: 'Noto Sans';
    overflow: hidden;
}
html, body{
    height: 100dvh;
    width: 100dvw;
    margin: 0; padding: 0;
    position: absolute;
}
h1{
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}
.control-panel{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    color: white;
    margin-bottom: 7px;
    padding-left: 10px;
}
#code{
    width: 70%; 
    overflow: auto;
    font-family: monospace;
    font-size: larger;
}
#input{
    width: 30%;
    height: 100%;
    overflow: hidden;
}
textarea{
    width: 100%; 
    height: 100%; 
    resize: none;
    font-size: larger;
    font-family: monospace;
}
#output{
    background-color: black; 
    color: greenyellow; 
    height: 35dvh;
    overflow: auto;
    font-family: monospace;
    font-size: large;
    padding: 10px;
    overflow: auto;
}
.editor{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    height: 70dvh;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

@media only screen and (orientation:portrait) {
    .container{
        width: 700px;
    }
}
